.wrapper-apartament {
    height: 100%;

    &::after {
        display: block;
        background: url("../images/background.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: fixed;
        top: 0%;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        transition: all 500ms ease-in-out;
        z-index: -1 ;
        opacity: 0.2;
        @media screen and (max-width:580px){
            height: 70%;
        }
    }

    &::before {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        content: "";
        width: 100vw;
        height: 100vh;
        background: #00000075;
        transition: all 500ms ease-in-out;
        z-index: 9;
        visibility: hidden;
    }

    .nav-create {
        max-width: 1150px;
        margin: auto;
        .btn-create {
            background: linear-gradient(315deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 77%);
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }
    }

    .card {
        border-radius: 14px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        .card-apartment {
            padding: 2.25rem;
            .non-visibile {
                display: none;
            }
        }
    }
    
    .ct-form {
        margin-top: 6rem;
        padding-bottom: 6rem;
        margin-bottom: 9rem;
    }

    .form-success {
        display: none;
        position: fixed;
        min-width: 300px;
        max-width: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        .card-header {
            display: flex;
            justify-content: space-between;
            h5 {
                margin: auto;
            }
        }
        .card-body h5 {
            font-size: 1rem;
        }
    }

    .form-success.mostra-form {
        display: block;
    }
}

.wrapper-apartament.active::before {
    visibility: visible;
}

.form-group.row {
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

.foot-create {
    background: linear-gradient(315deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 77%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 0.5rem;
    height: 18px;
}

.text-servizio {
    font-size: 0.8rem;
}