.wrapper-dashboard {
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: 0.5fr 3fr 1fr;
    position: relative;
    min-height: 100vh;
    &::after {
        display: block;
        background: url("../images/background.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: fixed;
        top: 0%;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        transition: all 500ms ease-in-out;
        z-index: -1 ;
        opacity: 0.2;
        @media screen and (max-width:580px){
            height: 70%;
        }
    }
    .block-header-dash {
        position: relative;
        grid-column: 1;
        grid-row: 1/2;
        z-index: 4;
        .nav-bar {
            max-width: 1100px;
            margin: auto;
            .btn-create {
                background: linear-gradient(315deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 77%);
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            }
        }
    }

    .block-center-dash {
        // margin: auto;
        grid-column: 1;
        grid-row: 2/3;
        margin-top: 1rem;
        // max-width: 1200px;
        padding: 0 1rem;
        min-height: 875px;

        .title-dash {
            width: 100%;
            margin: auto;
            border-radius: 50px;
            padding: 1.5rem;
            h2 {
                position: relative;
                text-transform: uppercase;
                margin: auto;
                font-style: italic;
                font-weight: 600;
                @media screen and (min-width:250px) and (max-width:784px){
                    font-size: 1.3rem;
                }
                &::after {
                    content: "";
                    width: 28%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-54%, 9%);
                    height: 0.9rem;
                    background: linear-gradient(to right, #f5f5f5, #ed0f0f);
                    transition: 0.2s;
                    z-index: -1;
                    opacity: 0.7;
                    @media screen and (min-width:200px) and (max-width:430px){
                        width: 85%;
                    }
                    @media screen and (min-width:431px) and (max-width:530px){
                        width: 70%;
                    }
                    @media screen and (min-width:531px) and (max-width:730px){
                        width: 50%;
                    }
                    @media screen and (min-width:731px) and (max-width:1336px){
                        width: 42%;
                    }
                }
            }
        }

        .img-apartment{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
            grid-gap: 1.2rem;
            // margin: auto;
            padding: 50px 0;
            .card {
                border: none;
                border-radius: 15px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                margin-bottom: 1rem;
                justify-self: center;
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
                img {
                    height: 400px;
                    width: 100%;
                    border-radius: 15px;    
                    object-fit: cover;
                    transition-duration: 1s;
                    &:hover {
                        filter: blur(0px);
                    }
                }
                .info {
                    bottom: 0;
                    padding: 1rem;
                    z-index: 5;
                    p {
                        margin-bottom: 0;
			            max-width: 500px;
                    }
                }
            }
        }
    }

    .block-footer-dash {
        grid-column: 1;
        grid-row: 3/4;
        background: linear-gradient(315deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 77%);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    }

    // @media screen and (max-width:320px){
    //     grid-template-rows: 0.5fr 3fr 1fr;
    // }
    // @media screen and (min-width:321px) and (max-width:525px){
    //     grid-template-rows: 0.5fr 3fr 1fr;
    // }
    // @media screen and (min-width:526px) and (max-width:680px) {
    //     grid-template-rows: 0.5fr 3fr 1fr;
    // }
    // @media screen and (min-width:680px) and (max-width:784px) {
    //     grid-template-rows: 0.5fr 3fr 1fr;
    // }
}